data/
/outputs/*
!/outputs/figures/
/outputs/figures/*
!/outputs/figures/*.png
!/outputs/eval/
/outputs/eval/*
!/outputs/eval/*.csv
!/outputs/eval/*.png
!/outputs/experiments/
/outputs/experiments/*
!/outputs/experiments/*.csv
.venv/
__pycache__/
*.pyc
*.pth
*.ckpt
.vscode/
.idea/
